/* 共通要素 ----------------- */

/* フォント指定 */

body{
    font-family: "Noto Sans JP", sans-serif;
    color: #FFFFFF;
    font-size: 16px;
        background: url(../img/nekohaike.jpg);
    background-size: 500px auto;
}

/* リンク */
a{
    color:aliceblue;
    text-decoration: underline;
}
a:hover{
    color:aliceblue;
    text-decoration: underline;
}

/* header ---------------------- */
header{
    margin-top: 44px;
    margin-bottom: 64px;
    text-align: center;
    color: aliceblue
}
header h1{
    font-size: 46px;
}
header h2{
    font-size: 36px;
}

/* div ---------------------- */

#department{
    text-align: center;
    margin-bottom: 64px;
    margin-top: 64px:
}
#department h2{
        font-size: 36px;
        margin-top: 44px;
    margin-bottom: 64px;
    text-align: center;
    color: aliceblue
}
#department p{
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 100px;
}
#department-container{
    width: 1000px;
    display: flex;
    justify-content:space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 200px;

}

#wakosa{
        width: 1300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#wakosa img{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}



/* nav ------------------------ */
nav{
    text-align: center;
    margin-bottom: 64px;
}
nav a{
    text-decoration: none;
        color: darkblue
}
nav a:hover{
    text-decoration: none;
        color: aquamarine
}
nav ul{
    width: 600px;
    display: flex; /*子要素が横に並ぶ*/
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 100px;
}











